
.accordion{
    background-color: aqua;
}

.accordion__content{
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.4s ease;
    

}

.panel:checked~.accordion__content{
    max-height: 100vh;
    transition: max-height 1s ease;

}