/* === Article section === */
#article-section{
    display: flex;
    justify-content: space-between;
}
.article-main{
    padding: 45px 77px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 10px;

    min-height: 70vh;
    max-width: 1400px;
    margin: 0 auto;
}
/*-- Image --*/

.article-image-box{
    display: flex;
    flex-direction: column;
}

.product-images{
    cursor: pointer;
}

.article-image{
    width: 504px;
    height: 504px;

    border-radius: 10px;
    object-fit: contain;
}

.article-image + div{
    display: flex;

    padding-top: 10px;
    gap: 10px;
}

.article-image + div button{
    border: 1px solid var(--background);

    border-radius: 10px;

    transition: border 0.2s;
}

.article-image + div button:hover{
    border: 1px solid var(--black);
}

.article-image + div button:active{
    border: 1px solid var(#24211f);
    filter: opacity(0.7);
}

.article-image + div button img{

    max-width: 48px;
    max-height: 48px;

    width: 100%;
    height: 100%;

    border-radius: 10px;
}

@media screen and (width <= 900px){
    .article-image{
        width: 252px;
        height: 252px;
    
        border-radius: 10px;
    }

    .article-image + div img{

        max-width: 24px;
        max-height: 24px;
    
        width: 100%;
        height: 100%;
    }
}

.article-page-left{
    display: flex;
    flex-direction: row;
}


/*--Text--*/



.acticle-name{
    font-weight: 500;
    font-size: var(--big);
    color: var(--black);
}


.acticle-prices{
    font-weight: 600;
    font-size: 32px;
}

.small-article-text{
    font-weight: 400;
    font-size: var(--small);
    color: var(--black);
}

.article-description{
    max-width: 400px;
}

/*/*/

.acticle-info-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 35px;
}

.acticle-info-box div:last-child{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.acticle-info-box div:last-child div{
    display: flex;
    flex-direction: column;
}

.select-taille{
    min-width: 60px;
    width: max-content;

    font-weight: 400;
    font-size: var(--very-small);
    color: var(--black);

    background: none;/*/*//*/*/
    border: 1.5px solid var(--grey);
    border-radius: 10.5px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 14px;
    margin-top: 7px;
    cursor: pointer;
    transition: border 0.2s ;
    outline: none;
}

.select-taille:hover{
    border: 1.5px solid var(--red);
}

/*article-page-right*/

.article-page-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.article-page-right button:first-child{
    display: flex;
    align-items: center;
    gap: 8px;

    background: none;
    border:none;
    transition: filter 0.1s;

    cursor: pointer;
}

.article-page-right button:first-child img{
    user-select: none;
    --webkit-user-select: none;
}

.article-page-right button:first-child:hover{
    filter: opacity(0.7);
}

.article-page-right button:first-child:active{
    filter: opacity(0.4);
}

.article-page-right button:first-child span{
    font-weight: 400;
    font-size: var(--small);
    color: var(--dark-grey);
}

.stars{
    margin: 5px 0 2px 0;
}

/* === Partie Recommandations === */
#comments-title-box{
    display: flex;
    flex-direction: column;
}
#recommendations-section{
    margin-top: 42px;
}

#recommendations-title-box{
    display: flex;
    flex-direction: column;
}

#recommendations-articles-box{
    padding: 16px 0;
    display: flex;
    gap:38px;
    overflow: scroll;
}

#recommendations-articles-box .boite_article{
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 292px;
    width: 100%;
    flex-direction: column;
}

#recommendations-articles-box .boite_article .img{
        
    height: 292px;
    background: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 7px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    object-fit: contain;
    transition: padding 0.2s;
}

#recommendations-articles-box .boite_article .bas_article {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 14px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }


/* Supprimer margin pour le premier et le dernier article */
#recommendations-articles-box .boite_article:first-child{
    margin-left: 0;
}
#recommendations-articles-box .boite_article:last-child{
    margin-right: 0;
}

/* === Partie commentaires === */
#comments-section{
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}

#comments-box{
    padding: 20px 0;
    display: flex;;
    gap: 16px;
}

/* Left part */
#comments-left-part{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 313px;
    height: max-content;
}

#comment-box-title{
    font-size: var(--medium);
    font-weight: 500;
}

#article-stars{
    display: flex;
    align-items: center;
}

#article-stars-box{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

#article-stars-text{
    font-size: var(--small);
    font-weight: 500;
    color: var(--black);
}

/* Répartition des étoiles */
#distribution-stars-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 13px;
}

.distribution-stars-line{
    display: flex;
    align-items: center;
    gap: 5px;
}

.distribution-stars-line-title{
    font-size: var(--very-small);
    color: var(--black);

    max-width: 46px;
    width: 100%;
}
.distribution-stars-line-value-text{
    font-size: var(--very-small);
    color: var(--black);

    max-width: 30px;
    width: 100%;
}

.distribution-stars-line-container{
    background-color: #F8F8F8;
    border-radius: 11px;
    height: 22px;
    width: 100%;
}

.distribution-stars-line-value{
    height: 100%;
    border-radius: 11px;
    background-color: #FFE313;
}

/* Right part */
#comments-right-part{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Comment */

.comment{
    background-color: #FFFFFF;
    max-width: 685px;
    border-radius: 20px;
    padding: 9px 9px 30px 9px;
    min-height: 105px;
    display: flex;
    gap: 8px;
    width: 100%;
}

/* Comment left */
/* Profile picture user */
.comment-left img{
    border-radius: 50%;
    width: 37px;
    height: 37px;
}

/* Comment right */
.comment-name{
    font-size: var(--small);
    color: var(--black);
}
.comment-details{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}
.comment-stars{
    list-style: none;
    display: flex;
    gap: 3px;
}
.comment-star img{
    width: 13px;
    height: 13px;
}
.comment-text{
    font-size: var(--small);
    color: var(--dark);
}

/* === MOBILE === */
@media screen and (max-width: 750px){
    /* Main */
    .article-main{
        padding: 20px;
    }
    /* Article section */
    #article-section{
        flex-direction: column;
        gap: 20px;
        
    }
    .article-page-left{
        flex-direction: column;
    }
    .acticle-info-box{
        padding-left: 0;
    }
    .article-image{
        width: auto;
        height: auto;
    }
    .acticle-info-box{
        gap: 10px;
    }

    /* Commentaires */

    #comments-box{
        flex-direction: column;
    }
    #comments-left-part{
        max-width: 100%;
    }
}
    