/*Main container*/

#commentaire-main{
    display: flex;
    flex-direction: column;
    gap: 31px;
    height: max-content;
    max-width: 1286px;
    padding: 45px 10px;
    margin: 0 auto;
}

#note-section-title{
    font-size: var(--big);
    font-weight: 500;
    color: var(--black);
}

.commentaire-contenaire{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 965px;
    margin: 0 auto;
}

/* ARTICLE */



.article-image{
    max-width: 100px;
}

.article-info{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.article-info-part{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}



.article-grow3 {
    flex-grow: 6; /* Première partie prend 3 parts */
}

.article-grow9 {
flex-grow: 18; /* Troisième partie prend 9 parts */
}

.article-grow1 {
flex-grow: 1; /* Quatrième partie prend 1 part */
}


/* FORMULAIRE COMMENTAIRE */



input[type="radio"] {
    display: none;
}


input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;

}

.form-commentaire{
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    
    height: max-content;

    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
}

textarea{
    background: #F1F3F4;
    max-width: 100%;
    min-width: 100%;
    width: 918px; 
    max-height: 200px;
    height: 200px;
    min-height: 44px;
    border: none;
    border-radius: 20px;
    flex-shrink: 0;
    padding: 15px 12px;
    outline: none;
    font-size: var(--small) !important;
}

.commentaire-button{
    cursor: pointer;
    width: 116px;
    height: 33px;
    flex-shrink: 0;
}

.commentaire-button-wite{
    background-color: white;
    border: 2px solid var(--red);

    color: var(--red);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.button-part{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 10px;
}



/* MEDIA QUERIES */


@media screen and (max-width: 768px) {

    #commentaire-main{
        padding: 27px 15px;
    }

    .article-info-part{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .article-image{
        max-width: 150px;
        align-items: center;
    }

    .commentaire-contenaire{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .button-part{
        margin-top: 15px;
    }
    
}

