.link-part{
    display: flex;
    flex-direction: row;
}
.link-part>a{
    min-height: 54px;
    min-width: 54px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.link-part>a>img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.link-part>a>img:hover{
    width: 44px;
    height: 44px;
}
.image{
    height: 292px;
    margin-bottom: 14px;
    border-radius: 10px;
}

#link-text{
    font-size: var(--medium);
    font-weight: 500;
    width: max-content;
    text-decoration: none;
    color: var(--black);
}

.box{
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 292px;

    flex-direction: column;
    transform: scale(0); /* Initial scale set to 0 */
    animation: expand 1s ease-out forwards; 
}
.box>div{
    padding: 11px;
}

.box-creator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:74px;

    
}

main{
    max-width: 1286px;
    padding: 45px 10px;
    margin: 0 auto;
}


@keyframes expand {
    to {
        transform: scale(1); /* Final scale set to 1 */
    }
}