/*petit boite on peux potensiellement rendre le nom plus générale*/
.payment-size{ /* .payment-size*/
    max-width: 381px;
}

/*petit boite*/
.large_box , .normal_box{ /* .payment*/
    background-color: white;
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: max-content;
    gap: 20px;
}

.normal_box{ /* .payment*/
    width: min-content;
}

/*
.personal-information{ personal-information
    background-color: var(--box-color);
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    flex: 1; 
    max-width: 100%;
    height: max-content;
    margin-bottom: 10px;
}
*/


.radio_button_space{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 5px;
}

.inputText_space{
    width: 46%;
    flex : auto; /**/
    display: flex;
    flex-direction: column;
    gap : 7px;
}

/**/

.sidebar{
    font-family: 'Roboto';
    display: flex;
    font-size: var(--very-small);
    line-height: 14.06px;
    font-weight: 400;
    padding: 11px 20px 11px;
    width: 100%;
    border: none;
    border-radius: 18px;
    background-color: #F1F3F4;
}
/**/

.square_of_2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.square_of_2 > div{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

