.payment-size{
    max-width: 381px;
}

.titel_box{
    display: flex;
    flex-direction: column;
}

/*petit boite*/
.large_box , .normal_box, .normal_box_payment{
    background-color: white;
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: max-content;
    gap: 20px;
}

.normal_box{ 
    width: min-content;
}

.normal_box_payment{ 
    gap: 10px;
}


.inputText_space{
    width: 46%;
    flex : auto; /**/
    display: flex;
    flex-direction: column;
    gap : 7px;
}

/**/
.radio_button_space{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap : 5px;
}

.radioButton {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--light-gray);
}

.radioButton:checked {
    background: var(--red);
}

.sidebar{
    font-family: 'Roboto';
    display: flex;
    font-size: var(--very-small);
    line-height: 14.06px;
    font-weight: 400;
    padding: 11px 20px 11px;
    width: 100%;
    border: none;
    border-radius: 18px;
    background-color: var(--light-gray);
}
/**/

.square_of_2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.square_of_2 > div{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

