.element_page{
    display: flex;
    flex-direction: row;
    gap : 21px;
    
}

@media screen and (max-width: 1100px) {


    .element_page{
        flex-direction: column-reverse;
    }
}



.payment_left_box{
    flex: auto;
    display: flex;
    flex-direction: column;
    gap : 25px
}
/* Pour l'accordéon */
.accordion{
    /* background-color: aqua; */
}

.accordion__content{
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.4s ease;
    

}

.panel:checked~.accordion__content{
    max-height: 100vh;
    transition: max-height 1s ease;

}
.panel{
    background-color: #FFFFFF;
}

.panel-name{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.payment-type-img{
    float: right;
    margin-top: -5px;
}

.accordion>div{
    background-color: #F1F3F4;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;

}

.accordion>div input[type="text"]{
    background-color: #FFFFFF;
}



