.element_page{
    display: flex;
    flex-direction: row;
    gap : 21px;
    
}

@media screen and (max-width: 1100px) {


    .element_page{
        flex-direction: column-reverse;
    }
}

.payment_left_box{
    flex: auto;
    display: flex;
    flex-direction: column;
    gap : 25px
}
/* Pour l'accordéon */

.top_payment_method{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-type-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.accordion__content{
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.4s ease;
}

.panel:checked~.accordion__content{
    max-height: 100vh;
    transition: max-height 1s ease;
}







